[mcu EBBT4]
canbus_uuid: f598e02683d1

[tool T4]
tool_number: 4
extruder: extruder4
fan: multi_fan T4_partfan
#0.155859,0.438281,0.287500
#-0.275781,0.458594,-0.442500
gcode_x_offset: -0.275781
gcode_y_offset: 0.458594
gcode_z_offset: -0.57
params_type: 'rods_mini_hookon'
# params_sc_path: [{'z':0, 'y':4}, {'z':0, 'y':0, 'f':0.5}, {'z':-7.3, 'y':0}, {'z':-12.3, 'y':3.5}, {'z':-12.3, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
# X:274.900 Y:8.000 Z:333.006 E:0.000
params_park_x: 274.9
params_park_y: 8
params_park_z: 333.006
# params_safe_y: 100.0
# For InputShaper run per tool and enter the frequency here
# shaper_type_y:mzv shaper_freq_y:42.400 damping_ratio_y:0.010000
# shaper_type_x:mzv shaper_freq_x:64.800 damping_ratio_x:0.010000
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 64.8
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 42.4
params_input_shaper_damping_ratio_y: 0.01

[extruder4]
step_pin: EBBT4:PD0
dir_pin: !EBBT4:PD1
enable_pin: !EBBT4:PD2
microsteps: 16
rotation_distance: 4.69
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBT4: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBT4: PA3
max_power: 1.0
min_temp: -100
max_temp: 275
min_extrude_temp: 175
pressure_advance: 0.04
pressure_advance_smooth_time:0.040
control: pid
pid_Kp=41.687
pid_Ki=18.527
pid_Kd=23.450
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5

[tmc2209 extruder4]
uart_pin: EBBT4: PA15
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[multi_fan T4_partfan]
pin: EBBT4:PA1

[heater_fan T4_hotend_fan]
pin: EBBT4:PA0
heater: extruder4
heater_temp: 50.0
kick_start_time: 0.5

[gcode_macro T4]
variable_color: "orange"
gcode:
  SELECT_TOOL T=4

# Change tool number if needed
[tool_probe T4]
pin: ^EBBT4:PB6
tool: 4
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: 0 #-1.203
# drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
  _TAP_PROBE_ACTIVATE HEATER=extruder4

[adxl345 T4]
cs_pin: EBBT4:PB12
spi_software_sclk_pin: EBBT4:PB10
spi_software_mosi_pin: EBBT4:PB11
spi_software_miso_pin: EBBT4:PB2
axes_map: x,z,y

[neopixel T4_RGB]
pin: EBBT4:PD3
chain_count: 3
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 1

[delayed_gcode T4_NOZZLE_LEDS]
initial_duration: 1.0
gcode:
  SET_LED LED=T4_RGB RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
  SET_LED LED=T4_RGB RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=1